.lt-wrap {
	max-width: 1000px;
}

.lt-wrap .row-half,
.lt-wrap .row-quarter {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.lt-wrap .row-half .col,
.lt-wrap .row-quarter .col {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	margin: 5px;
}

.lt-wrap .item-img img {
	max-width: 100%;
}

.lt-wrap .dashicons {
	margin-right: 10px;
}

@media screen and (max-width: 600px) {
	.lt-wrap .row-half,
	.lt-wrap .row-quarter {
		display: block;
	}
}
